<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Giới thiệu bản thân</title>
		<meta name="description" content="Eric - CV / Resume / Personal Website Template by Hencework" />
		<meta name="keywords" content="eric, responsive resume template, cv template, multipurpose, responsive template, vcard, html5 template, templatemonster, bootstrap, html5, creative, landing page, sass, clean, design, modern, angular js" />
		<meta name="author" content="Hencework"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
			
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body id="body" data-ng-app="contactApp">
		
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
				
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
				
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
						  <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
							 data-target="#navbar_collapse">
							 <span class="mask"></span>
							 <span class="btn-label">
								<span class="pe-7s-menu"></span>
							 </span>
						  </button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>Giới thiệu</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>Sở thích</span></li>
								<li><a data-scroll href="#contact_sec"></a><span>Liên hệ</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
									<span>
										NGUYỄN NHƯ GIA BẢO
									</span>
								</a>	
							</div>	
							
							<div class="float-right social-download-wrap">
								<a href="#" class="btn btn-default float-left">
									<span class="mask"></span>
									<span class="btn-label">
										<b>Useless button</b>
										<span class="icon pe-7s-download"></span>
									</span>
								</a>
							</div>	
						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								Bông Jua!<span id="typed"></span>
							</h1>
							<h6>
								Giới thiệu bản thân
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Mình học lớp 10A5 năm ngoái tại Vinschool The Harmony. Mình là một người khá ít nói với người
								lạ nhưng một khi đã thân với mình thì mồm mình hơn cả máy khâu nhé :))). Mình rất hứng thú về
								bộ môn Khoa học cho nên đã dành nhiều thời gian cho nó, vì vậy nên mình khá tự tin về kiến
								thức khoa học của mình (ko hẳn). 
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Mình chọn làm cố vấn cho bộ môn Khoa Học là vì mình muốn giúp các bạn gặp vấn đề về bộ môn này. 
								Cải thiện điểm số của các bạn để tạo ra 1 tập thể smart kinh khủng.

							</p>
							<div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
								<img class="img-responsive" src="img/Sciene.jpg" alt="signature"/>
							</div>
						</section>
						<!--/Introduction Sec-->
							
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>Sở thích</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Ngoài việc học như 1 nerd ra thì mình còn rất thích chơi thể thao và game (Bạn nào rủ mình chơi với :)) ), 
								cũng như xem phim và đặc biệt là ngủ. Phần lớn thời gian của mình dành ra để chơi game và coi phim, do dịch
								bệnh chứ nếu không mình đi chơi thể thao lâu rồi (Không phải do mình lười đâu).
							</p>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Chơi bóng rổ</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="97">
													<strong><i>97</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Bơi lội</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="97">
													<strong><i>97</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Chơi game</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="100">
													<strong><i>100</i>%</strong>
												</span>	
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Xem phim</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="100">
													<strong><i>100</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Học</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="1">
													<strong><i>1</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Ngủ</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="100">
														<strong><i>100000</i>%</strong>
													</span>
												</div>	
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
							</div>	
						</section>
						<!--/Skills Sec-->

						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>Liên hệ</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3>Chào <span  data-ng-bind="formData.inputName||'bạn'"></span>, gửi mình cái tin nhắn nào!</h3>
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>Gửi luôn!</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
							</div>
							
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">Email của mình: <a href="mailto:giabaosocool@gmail.com">giabaosocool@gmail.com</a></p>
							</div>
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Mạng xã hội của mình ngay bên phải nè -></span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="https://www.facebook.com/profile.php?id=100035709497759" class="social-icon">
													<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/gbao_1/" class="social-icon">
													<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
											<span data-hover="Lên đầu trang">
												Lên đầu trang
											</span>
										</a>
									</div>
								</div>	
							</div>	
						</footer>
						<!--/Footer-->
						
					</div>	
					<!--/Main Content-->
					
				</div>
			</div>	
		</div>
		<!-- /Container -->
				
		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
